.main-about {
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.about-text {
    margin-right: -6rem;
    z-index: 98;
    margin-bottom: 6rem;
}

.about-text > h3 {
    width: 55rem;
    font-size: 3.1rem;
    margin-bottom: 2rem;
}

.about-text > p {
    width: 39rem;
    text-align: justify;
}

.about-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(./images/20210223_125625.jpg);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    height: 800px;
    width: 590px;
    margin-left: -6rem;
}

/*media queries*/
@media (max-width: 1375px) {
    .main-about {
        flex-direction: column;
        height: auto;
        padding: 2rem 6rem;
        gap: 4rem;
    }

    .about-img {
        order: 1;
        height: 500px;
        width: 800px;
        margin-left: 0;
    }

    .about-text {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
        margin-right: 0;
    }

    .about-text > h3 {
        width: 50rem;
        font-size: 2.7rem;
        margin-bottom: 2rem;
        margin-right: 0;
    }
    
    .about-text > p {
        width: 39rem;
        text-align: justify;
    }
}

@media (max-width: 900px) {
    .main-about {
        gap: 2rem;
    }

    .about-img {
        height: 400px;
        width: 550px;
    }

    .about-text > h3 {
        width: 38rem;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .about-text > p {
        width: 28rem;
    }
}

@media (max-width: 625px) {
    .about-img {
        height: 300px;
        width: 400px;
    }

    .about-text > h3 {
        width: 27rem;
        font-size: 1.6rem;
    }
    
    .about-text > p {
        width: 24rem;
    }
}

@media (max-width: 500px) {
    .about-img {
        height: 200px;
        width: 300px;
    }

    .about-text > h3 {
        text-align: start;
        width: 18rem;
        font-size: 1.4rem;
    }
    
    .about-text > p {
        width: 18rem;
    }
}