.main-experience {
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.experience-container {
    position: relative;
    width: 80rem;
}

.main-experience-left-content {
    width: 100%;
}

.work-btn {
    gap: .5rem;
}

.education-btn {
    gap: .5rem;
}

/*timeline*/
.main-experience-right-content {
    position: relative;
    height: 25rem;
    width: 45rem;
}

.timeline-text-1 {
    font-family: montserrat-semibold, Arial, Helvetica, sans-serif;
}

.education-timeline {
    display: none;
}

.work-timeline {
    display: none;
}

.line-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: .2rem;
    height: 100%;
    background-color: #eb5454;
}

.point-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100px;
    background-color: #eb5454;
}

.point-item-1 {
    top: 0%;
}

.point-item-2 {
    top: 33%;
}

.point-item-3 {
    top: 66%;
}

.point-item-4 {
    top: 96%;
}

.education-text-content, .work-text-content {
    position: absolute;
    gap: .8rem;
}

.education-content-1, .work-content-1 {
    top: 0;
    left: 1rem;
}

.education-content-2, .work-content-2 {
    top: 33%;
    left: 17rem;
}

.education-content-3, .work-content-3 {
    top: 66%;
    left: 1rem;
}

.education-content-4, .work-content-4 {
    top: 96%;
    left: 17rem;
}

/*media queries*/
@media (max-width: 1375px) {

    .main-experience {
        position: relative;
        height: 70rem;
    }

    .experience-container {
        width: 100%;
    }

    .main-experience-left-content {
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 15rem;
    }

    .main-experience-buttons {
        margin-right: 2rem;
    }

    .main-experience-right-content {
        top: 10rem;
        right: 50%;
        transform: translateX(50%);
    }

    .education-content-1, .work-content-1 {
        left: 9rem;
    }
    
    .education-content-2, .work-content-2 {
        left: 26rem;
    }
    
    .education-content-3, .work-content-3 {
        left: 9rem;
    }
    
    .education-content-4, .work-content-4 {
        left: 26rem;
    }
}

@media (max-width: 740px) {

    .main-experience-right-content {
        width: 30rem;
    }

    .education-content-1, .work-content-1 {
        left: 1.5rem;
    }
    
    .education-content-2, .work-content-2 {
        left: 19rem;
    }
    
    .education-content-3, .work-content-3 {
        left: 1.5rem;
    }
    
    .education-content-4, .work-content-4 {
        left: 19rem;
    }
}

@media (max-width: 625px) {
    .main-experience {
        height: 60rem;
    }

    .main-experience-left-content {
        top: 10rem;
    }

    .main-experience-buttons {
        margin-right: 1rem;
        margin-top: 1rem;
        gap: 2rem;
    }

    .main-experience-right-content {
        top: 5rem;
    }
}

@media (max-width: 500px) {
    .main-experience-right-content {
        width: 20rem;
    }

    .education-content-1, .work-content-1 {
        width: 8rem;
        left: 0;
    }
    
    .education-content-2, .work-content-2 {
        width: 8rem;
        left: 13rem;
    }
    
    .education-content-3, .work-content-3 {
        width: 8rem;
        left: 0;
    }
    
    .education-content-4, .work-content-4 {
        width: 8rem;
        left: 13rem;
    }
}