/* --------------------------------- FONTS --------------------------------------------*/
@font-face {
    font-family: montserrat-semibold;
    src: url(./fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(./fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: roboto-reg;
    src: url(./fonts/roboto/Roboto-Regular.ttf);
}



/* --------------------------------- GLOBAL STYLES --------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* --------------------------------- REUSABLE CLASSES --------------------------------------------*/
/* ----------- Flex -----------*/
.flex {display: flex;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.justify-start {justify-content: flex-start;}
.justify-between {justify-content: space-between;}
.align-center {align-items: center;}
.align-start {align-items: flex-start;}
.wrap {flex-wrap: wrap;}
.wrap-reverse {flex-wrap: wrap-reverse;}

.gap1 {gap: 1rem;}
.gap2 {gap: 2rem;}
.gap3 {gap: 3rem;}
.gap4 {gap: 4rem;}
.gap5 {gap: 5rem;}
.gap6 {gap: 6rem;}

.red-line {
    height: .5rem;
    width: 2.6rem;
    background-color: #eb5454;
}

.text-highlight {
    color: #eb5454;;
}

.section-title {
    font-size: 5rem;
    font-family: montserrat-semibold,Arial, Helvetica, sans-serif;
    margin-left: -.3rem;
}


/* --------------------------------- ELEMENT STYLES --------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    color: #d6d6d6;
}

h1, h2, h3, h4, h5 {
    font-family: montserrat-semibold, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p, span {
    font-family: montserrat-regular, Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: roboto-reg, Arial, Helvetica, sans-serif;
    color: #d6d6d6;
    font-size: 1rem;
}

a:hover {
    color: #eb5454;
}

a:target {
    color: #eb5454;
}

button {
    border: none;
    font-family: raleway-reg, Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #d6d6d6;
    font-size: 1.6rem;
}

button:hover {
    color: #eb5454;
    cursor: pointer;
}

@media (max-width: 900px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 625px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.1rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
}