.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    padding: 2rem 3rem;
    background-color: rgb(10, 10, 10);
    color: #fafafa;
}

.hamburger {
    font-size: 2.5rem;
    color: #fafafa;
    display: none;
}

.logo {
    background-image: url(./images/LOGO-W.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1.4rem;
    width: 2.2rem;
    font-size: 1.7rem;
    margin-right: auto;
}

.dark-mode-icon {
    font-size: 32px;
    color: #fafafa;
}

/* media queries */
@media (max-width: 800px) {
    .header-container {
        justify-content: space-between;
    }

    .logo {
        margin-right: 0;
    }

    .hamburger {
        display: unset;
        cursor: pointer;
    }

    .header-right-container {
        gap: 0;
    }

    .header-nav-ul {
        display: none;
    }

    .hamburger-menu-mobile {
        position: fixed;
        top: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgb(10, 10, 10);
        transition: 350ms;
    }
    
    .mobile-header-nav {
        height: 100%;
    }
    
    .mobile-header-nav-ul > li > a {
        font-size: 2rem;
    }
}