.main-skills {
    padding: 12rem 2rem;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.skill-box {
    width: 400px;
    height: 90px;
    background-color: #181818;
    color: #aaaaaa;
    border-radius: 6px;
    padding: 2rem 2rem;
    gap: .7rem;
    transition: 100ms;
}

.skill-box:hover {
    background: #eb5454;
    cursor: pointer;
}

.skills-text-title {
    font-size: 1.2rem;
    color: #fafafa;
    margin-bottom: 1rem;
}

.arrow-up-icon {
    margin-bottom: 1rem;
}

.design-text-box {
    display: none;
}

.develop-text-box {
    display: none;
}

.tools-text-box {
    display: none;
}

@media (max-width: 1375px) {
    .main-skills {
        padding: 6rem 2rem;
    }

    .skills-boxes {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .skill-box {
        width: 300px;
        height: 90px;
    }
}